body {
    font-family: Arial, sans-serif;
    background-color:bisque;
    padding: 20px;
    text-align: center;
}

h1 {
    color:burlywood;
}

form {
    background: #ffdd9d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background: #ee9166;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #ee9166;
}

#order-summary {
    margin-top: 20px;
    background: hsl(37, 68%, 73%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}